<header class="container-fluid">
  <div class="container">
    <div class="item">
      <h3>CLUB ESMERALDA, LIMA-PERÚ</h3>
      <h1>BIENVENIDO AL RESTAURANTE BRISAS DEL MAR</h1>
      <p class="descripcion">
        Brisas del Mar es un restaurante tradicional que prepara platos marinos
        en especial excelentes ceviches, elaborados con productos siempre
        frescos y de alta calidad. Sus cómodos ambientes marinos, son esenciales
        para una buena experiencia y sabor al cliente. Esta ubicado en el Club
        Esmeralda.
      </p>
      <button class="btn btn-primary">
        INGRESAR AL RESTAURANTE - ENTER THE RESTAURANT
      </button>
      <br />
      <img class="flecha" src="../../assets/cliente/flecha.png" />
    </div>
  </div>
</header>
